<!DOCTYPE html>
<html>
	<head>
		<style>
			body{
				height:100vh;
				width:100%;
				background-color:pink;
				outline:4px solid;
				outline-color:coral;
				outline-offset:4px;
			}
			.window{
				border-top:30px;
			}
		</style>
	</head>
	<body>
		<div class=window align="center">
			<form action="/send-new-pass" method="POST">
				Username:<br> <input type="text" name="conf_user" placeholder="Username"><br><br>
				Password: <br><input type="text" name="conf_pass" placeholder="Password"><br><br>
				New Password:<br> <input type="text" name="new_pass" placeholder="New Password"><br><br>
				Confirm Password: <br><input type="text" name="conf_new_pass" placeholder="New Password">
				<br><br>
				<input type="submit" name="change_pass" value="Change Password">
			</form>
			<br>
			<form action="/" method="POST">
				<input type="submit" value="Go Back">
			</form>
		</div>
	</body>

</html>

