<!DOCTYPE html>
<html>
	<head>
		<style>
			body{
			height:100vh;
			width:100%;
			background-color:pink;
		}
		.window {
			border-top:30px;
		}
		</style>
	</head>
		
	<body>
		<h1>
			My Account...
		</h1>
		<br>
		<div class="window" align="left">
			<form action="/sendvideo" method="GET">
				<input type="submit" name="send" value="Upload a File">
			</form> <br><br>
			<form action="/change-password" method="GET">
				<input type="submit" name="change_pass" value="Change Password">
			</form>
			<br><br>
			<form action="/delete-account" method="GET">
				<input type="submit" name="delete_acct" value="Delete Account">	
			</form>
		</div>
	</body>
</html>
