<html>
	<head>
		<style>
		body{
			height:100vh;
			width:100%;
			background-color:pink;
		}
		.window {
			border-top:30px;
		}
		</style>
	</head>
	
	<body>
		<div class="window" title="user_inputs" align="center">
			<form action="/login" method="POST">
				Username:<br>
				<input type="text" name="username" placeholder="Username">
				<br><br><br>
				Password:<br>
				<input type="password" name="password" placeholder="Password">
				<br><br><br>
				Confirm Password:<br>
				<input type="password" name="confirm_password" placeholder="Password">
				<br><br><br>
				Operating System:<br>
				<select>
					<option value="Windows">Windows</option>
					<option value="Linux">Linux</option>
				</select>
				<br><br><br>
				<input type="submit" name="Register" value="Register">
			</form>
		</div>
	</body>
</html>
