<!DOCTYPE html>
<html>
	<head>
		<style>
		body {
			height: 100vh;
			width: 100%;
			background-color: pink;
		}
		.info {
			border-top: 30px;
		
		}
		</style>
		
		
	</head>
	<body>
	<div class="info" align="center">
		<form action="/send" method="POST" enctype="multipart/form-data">
			<input type="file" name="video" accept="image/*, video/*, video/mp4,video/x-m4v,video/*"><br>
			<input type="submit" name="Upload" value="Upload">
		</form>
		</div>
	</body>
</html>
